
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* ------------------------------------------------- */

.header{
    display: flex;
    flex-direction: column;
    gap: 51px;
    margin-top: 20px;
}
.top-header{
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.top-image{
    right: 0;
    position: absolute;
    top: 10px;
    display: flex;
    gap: 34px;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.main-header ul li {
    color: rgb(46, 46, 46);
font-family: Baskerville;
font-size: 20px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0%;
padding: 9px 20px;
cursor: pointer;
}

.main-header ul li:hover {
    color: rgb(210, 181, 116);
box-shadow: 0px 10px 25px 0px rgba(210, 181, 116, 0.1);
background: rgb(255, 255, 255);
}
